#me {
    width: 250px;
    padding-top: 5%;
}

body {
    font-size: 1.7em;
    line-height: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    color: rgb(51, 51, 0);
    background: #f8f8f4;
    color: #330;

}

a:focus {
    outline: thin dotted;
}

a, a:visited {
  color: #23ccbe;
  text-decoration: none;
  border-bottom: 1px solid #ededed;

}

a:hover {
  color: #01aa9c;
  border-color: #bbb;
}

b {
  font-weight: 400;
}
