.header {
    font-family: 'Source Sans Pro','Helvetica Neue',sans-serif;
    background: #6ABDC4; 
    display: box;
    padding-top: 0px;
    width: 100%;
}

.header h2 {
    font-family: 'Source Sans Pro','Helvetica Neue',sans-serif;
    font-size: 2em;
    color: #20385e;
    transition: color 0.5s;
    font-weight: 200;
}

.header h2:hover {
    color: #355487;
    transition: color 0.75s;
}

.header a {
    text-decoration: none;
}
.header a:hover {
    text-decoration: none;
}

.content a {
    color: #ededed;
    text-decoration: none;
    border-bottom: 1px Dotted #736F6E;
}

.content a:hover {
    color:#6D7B8D;
    border-bottom: 1px Solid #6D7B8D;
}

.sidebar a, .sidebar a:visited {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #ededed;
  font-weight: 300;
}

.sidebar a:hover {
  color: #01aa9c;
  border-color: #bbb;
}

.sidebar a:focus {
   outline: thin dotted;
}

body {
    font-family: georgia;
    font-size: 1.2em;
    line-height: 1.3em;
    margin: 0px;
}
#me {
    width: 100%;
}
.posts {
    padding-top: 30px;

}
.page {
    width: 70%;
    position: relative;
    margin: 0px auto;
    display: block;
}


.content {
    padding-top: 5%;
    float: left;
    width: 650px;
    display: block;
}

.sidebar{
    float: right; 
    width: 220px;
    display: block;
    text-align: left;
    background-color: #23ccbe;
    height: 100%;
    padding-top: 100px;
    position: fixed;
    top: 0px;
    right: 15%;
}

.sidebar ul {
    list-style: none;
    margin: 4px;
    padding: 10px 10px 10px 0;
    font-size: 1.7em;
    line-height: 1.7em;
    margin: 20px;
}

.date {
    font-size: .8em;
    color: #59CC0D;
    font-family: sans-serif;
    text-transform: 'PT sans';
    display: block;
    float: left;
    padding-right: 30px;
}

article {
    margin-top: 20px;
}

.title{
    font-size: 1.2em;
    color: #EB5937;
}

.title a{
    color: #EB5937;
}

.tags-list {
    font-size: 0.8em;
    color: #5E5A80;
}

.previous {
    float: left;
}

.next {
    float: right;
}