@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    tex-align: justify;
}

a {
    text-decoration: None;
    color: #FA5B0F;
}

p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
    font-weight: 100;
    line-height: 1.4em;
}

a:hover {
    text-decoration: None;
}

span.read_more {
    display: box;
    padding: 5px;
    margin: 5px;
    background: #cccccc;
    float: right;
}

span.read_more:hover {
    background: #ffffff;
}

div.header {
    display: block;
    width: 100%;
    font-weight: 300;
    background-color: #8FBCC9;
    margin: 0px;
    height: 100px;
    padding-top: 40px;
    padding-left: 20%;
    position: fixed;
    z-index: 10;
}

div.header h2{
    font-weight: 100;
    font-size: 2em;
    line-height: 1.5em;
    color: #ffffff;
    transition: color 0.5s;
    margin: auto;
}

span.header-span {
    font-style: italic;
    width: 40%;
    margin: auto;
    color: #ffffff;
}

div.header a{
    color: #ffffff;
    transition: color 0.5s;
}

div.header a:hover {
    color: #5d6c6c;
    transition: color 0.75s;

}
div.page {
    width: 60%;
    padding-top: 10%;
    position: relative;
    left: 18%;
}

div.sidebar {
    width: 16%;
    height: 100%;
    margin: auto;
    float: left;
    border-right: 2px solid #dddddd;
    position: fixed;
    z-index: 20;
}

div.sidebar img {
    height: 200px;
    margin-top: 35px;

}

div.navbar ul {
    list-style: none;
    text-align: right;
}

div.navbar li {
    margin-right: 50px;
    font-size: 2em;
}

div.navbar a {
    color: #60c21e;
    transition: color 0.5s;
}

div.navbar a:hover {
    color: #BF3604;
    transition: color 0.5s;
}

article {
    display: block;
    padding: 5px;
}

h3.title {
    font-size: 1.4em;
    font-weight: 400;
    margin-bottom: 2px;
    font-family: sans-serif;
    color: #0066aa;
}

div.date {
    font-size: 1em;
    color: #aaaaaa;
}

div.content {
    display: block;
    padding: 5px;
    color: #444444;
    font-size: 1.1em;
    text-decoration: justify;
}

div.about {
    display: box;
    padding: 25px;
    margin: 0px;
    background-color: #dddddd;
}

span.intro {
    display: box;
    width: 200px;
}
div.container {
    margin: auto;
}