.page h1 h2 h3 h4 h5 h6 {
    color: #15317E;
}

.content a {
    color: #736F6E;
    text-decoration: none;
    border-bottom: 1px Dotted #736F6E;
}

.content a:hover {
    color:#6D7B8D;
    border-bottom: 1px Solid #6D7B8D;
}

.sidebar a {
    color: #736F6E;
    text-decoration: none;
    border-bottom: 1px Dotted #736F6E;
}

.sidebar a:hover {
    color: #6D7B8D;
    border-bottom: 1px Solid #6D7B8D;
}

body {
    font-family: georgia;
    font-size: 1.2em;
    line-height: 1.3em;
}

.page {
    width: 850px;
    margin: 0px auto;
    display: block;
}

.header {
    margin-bottom:10px;
}

.header img{
    height: 300px;
    width: 340px;
    border: none;;
}

.content {
    float: right;
    width: 650px;
    display: block;
}

.sidebar{
    float:left; 
    width: 150px;
    display:block;
    border-right: 2px Solid #736F6E;
    text-align: right;
    margin-right: 10px;
}

.sidebar ul {
    list-style: none;
    margin: 4px;
    padding: 10px 10px 10px 0;
    font-size: 1.7em;
    line-height: 1.7em;
}

.date {
    font-size: .8em;
    color: #5E5A80;
}

.tags-list {
    font-size: 0.8em;
    color: #5E5A80;
}

.previous {
    float: left;
}

.next {
    float: right;
}