---
layout: base
---
<div class="container">
  <div class="header">
    <h2>
      <a href="/blog.html">abhilash's weblog</a>
    </h2>
    <span class="header-span">eat, sleep, code</span>
  </div>
  <!-- header ends here--->
  <div class="navbar">
    <center>
      <a href="/blog.html" > posts </a> //
      <a href="http://github.com/maxking" >github</a> //
      <a href="/feed.xml">feed</a> //
      <a href="/about/">about</a>
    </center>
  </div>
  <div class="content">
      {{ content }}
  </div>
</div>
