---
layout: base
---
<div class="page">
    <div class="header">
      <center><a href="http://maxking.github.com" title="Abhilash's weblog"><img  id="logo" src="/images/logo.jpg"></a></center>
    </div>
  
  <div class="content">
    {{ content }}
  </div>

    <div class="sidebar">
      <ul>
	<li> <a href="http://maxking.github.com" > home </a>
	<li> <a href="http://about.me/maxking" > about </a>
	<li> <a href="http://github.com/maxking" > projects </a>
      </ul>
    </div>
</div>
</div>

